<form #todoForm="ngForm">
    <div class="form-group">
        <label for="edit-todo-text">Text</label>
        <input
            type="text"
            class="form-control"
            id="edit-todo-text"
            name="edit-todo-text"
            placeholder="TODO Text"
            required
            #text="ngModel"
            [(ngModel)]="todo.text">

        <div *ngIf="text.errors && (text.dirty || text.touched)">
            <span [hidden]="!text.errors.required" class="validation validation-error">
                Text is required
            </span>
        </div>
    </div>
</form>
