<div class="modal-header">
    <h4 class="modal-title">Edit TODO</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-edit-todo [todo]="todo"></app-edit-todo>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!editTodoComponent.form || !editTodoComponent.form.valid" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
</div>
