<div>
    <span appBold appHighlight [highlightColor]="todo.highlightColor">{{ todo.text }}</span>
    <input type="checkbox" [(ngModel)]="todo.done" title="todo">
    <button type="button" class="btn btn-primary btn-sm" (click)="edit()">Edit</button>
</div>
